* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}

#filter {margin: 20px 0;}

#root {margin: 10px;}

input {padding: 2px;}

button {padding: 0 10px;}

h2 {color: #9380da; padding-top: 10px;}